body
{
/*background: #ffffff url('bg_pic.jpg') center top no-repeat fixed;*/
	/*text-align: center;*/
	font-family: "Trebuchet MS";
	font-size: 12px;
	padding: 0;
	margin: 0;
	position: relative;
	background-color: #e2d7ff;
}

/*a:visited {color:#5e3250;}  /* visited link */
/*a:hover {color:#aa1e2c;}  /* mouse over link */
/*a:active {color:#967882;}  /* selected link */

div, img
{
	padding: 0;
	margin: 0;
}

div#menu
{
	background: #221741 url('bn.png');
	text-align: left;
}

a.menu_button
{
	cursor: pointer;
	display: inline-block;
	padding: 4px 6px;
	margin: 0;
	border: 0;
	color: #7dc5e1;
	background: transparent;
}

a.menu_button:hover
{
	background: url('bn_h.png');
	color: #eee;
}

div#page_wrapper
{
	text-align: center;
	width: 1000px;
	margin: 0 auto;
	box-shadow: 1px 1px 2px #837b98;
}

div#head
{
	background-color: #ffffff;
	text-align: left;
	margin: 0;
}

div#content
{
	background-color: #fff;
	/*border:1px solid black;*/
	margin: 0;
	padding: 10px
}

div#bottom
{
	text-align: center;
	font-family: "Lucida Console", monospace;
	text-align: center;
	font-size: 10px;
	color: #666;
	margin: 0;
	margin-top: 4px;
	padding-bottom: 4px;
}

div#bottom a
{
	/*text-decoration: none;*/
	color: #222;
}

td, th
{
	text-align: left;
}

th
{
	font-size: 13px;
}

div.paginator
{
	text-align: center;
	font-size: 11px;
	margin: 10px;
	text-shadow: 1px 1px 1px #aaa;

}

div.paginator a, div.paginator p
{
	width: 18px;
	display: inline-block;
	margin: 0 1px;
	padding: 1px;
	color: #221741;
	/*border: 1px solid #221741;*/
	background-color: #f3ecff;
	/*font-weight: bold;*/
	text-decoration: none;
	border-radius: 4px;
	box-shadow: 1px 1px 2px #444;
}

div.paginator p.actual_page
{
	width: 18px;
	display: inline-block;
	margin: 0 1px;
	padding: 1px;
	color: #fff;
	/*border: 1px solid #221741;*/
	background-color: #221741;
	font-weight: bold;
	cursor: default;
}

div.paginator p
{
	cursor: default;
}

div.paginator a:hover
{
	background-color: #8d86a0;
}

div#window_bg
{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.6;
	background-color: #000;
	z-index: 100;
}

.window
{
	position: absolute;
	z-index: 101;
}

div.window_style
{
	background-color: #fff;
	width: 260px;
	height: 120px;
	border-radius: 5px;
	box-shadow: 6px 6px 3px #444;
}

div.window_title
{
	width: 100%;
	margin: 0;
	text-align: center;
	background-color: #221741;
	color: white;
	padding: 6px 0;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px;
}

div.window_content
{
	margin: 0;
	margin-top: 10px;
	height: 80%;
	width: 100%;
}

table.resources_table
{
	border-collapse: collapse;
	margin: 4px auto;
}

table.resources_table, table.resources_table td, table.resources_table th
{
/*	border: 1px solid black;*/
	
}

table.resources_table tr
{
	border: 1px solid #fff;
	border-top: 0;
}

table.resources_table td
{
	padding-left: 4px;
	text-shadow: 2px 1px 2px #aaa;
}

table.resources_table tr.color
{
	border-bottom: 1px solid #c9cfe5;
	background-color: #c9cfe5;
}

table.resources_table th
{
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	color: #eee;
	background-color: #221741;
	padding: 6px;
	
}

a.resource_link
{
	display: block;
	width: 98%;
	min-height: 32px;
	margin: 0;
	padding: 3px 4px 0 4px;
	text-decoration: none;
}

p.title
{
	display: block;
	color: #000;
	font-size: 12px;
	font-weight: 400;
	margin: 0;
}

p.sub_title
{
	display: block;
	color: #444;
	font-size: 10px;
	margin: 0;
}

div#category
{
	display: inline-block;
	
}

div#category table td
{
	padding: 3px 6px;
}


div#search
{
	display: inline-block;
}

.text_input
{
	height: 20px;
	font-size: 16px;
	line-height: 20px;
	padding: 0 6px;
}

select.text_input
{
	padding-right: 0;
	height: 24px;
	margin: 0;
}

div.add_nfo
{
	margin: 0 20px 20px 0;
}

input.file_input
{
	width: 340px;
	margin-left: 4px;
}

p.div_title
{
	font-size: 13px;
	font-weight: bold;
	margin: 5px;
	padding: 0;
}

div.resource_titles
{
	text-align: left;
	margin: 20px 0 20px 10px;
}

div.resource_titles p
{
	padding: 0;
	padding-bottom: 8px;
	margin: 0;
	font-size: 22px;
	font-weight: bold;
}

table.resource_info
{
	margin: 10px 5px;
}

table.resource_info td
{
	padding: 2px 5px 2px 2px;
	font-size: 15px;
}

table.resource_info th
{
	padding: 2px 5px 2px 5px;
	font-size: 14px;
}

.image_small
{
	cursor: pointer;
}

.editor_image
{
	max-width:150px;
	max-height:150px;
	margin:4px 3px 0 3px;
}

.additional_image
{
	border: 4px solid #221741;
}

.additional_image:hover
{
	border-color: #544b6b;
}

hr.res
{
	width: 820px;
	height: 0;
	border: 0;
	border-top: 1px dashed #2f254c;
	margin: 18px auto;
}

hr.edit
{
	width: 680px;
	height: 0px;
	border: 0;
	padding: 0;
	border-top: 1px solid #888;
	margin: 18px auto;
	box-shadow: 1px 1px 1px #888;
}

hr.edit_in
{
	width: 650px;
	height: 0px;
	border: 0;
	padding: 0;
	border-top: 1px solid #aaa;
	margin: 10px auto;
	margin-bottom: 15px;
}

a.refs
{
	width:770px;
	display:inline-block;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	text-decoration: none;
	font-size: 13px;
	color: black;
}

a.refs:hover
{
	color: #544b6b;
}

img.image_full
{
	border: 10px solid #221741;
}

.thumb_mini
{
	max-height: 40px;
	max-width: 40px;
}

div.editor_img
{
	border: 1px solid #bbb;
	border-radius: 3px;
	box-shadow: 2px 2px 2px #444;
}

.b
{
	font-weight:bold;
}

div.reference
{
	padding: 2px 0 2px 4px;
	border-bottom: 1px solid #888;
}
