# Turn on URL rewriting
RewriteEngine On

# Installation directory
RewriteBase /my_desk/public_html/

# Protect application and system files from being viewed
#block
#RewriteRule ^(application|modules|system) - [F,L]
#or or go to index
RewriteRule ^(application|modules|system) index.php [L]

# Allow any files or directories that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all other URLs to index.php/URL
#RewriteRule .* index.php/$0 [PT,L]
RewriteRule .* index.php?uri=$0 [L]
